{% extends "base.html" %}
{% block content %}

<style>
    .heading-extra-large {
        background: black;
        color: white;
    }
    .secondary-navbar {
        display: flex;
        justify-content: center;
        background: #6E2956;
        padding: 0.2% 0%;
        position: sticky;
        top: 3.5%;
    }
    .secondary-navbar a {
        text-align: center;
        padding: 0% 1%;
        text-decoration: none;
        color: white;
    }
    .secondary-navbar a:hover {
        background: #A84084;
        text-decoration: none;
    }

</style>
<div class="secondary-navbar">
    <a href="#lead">LEAD</a>
    <a href="#creatures">CREATURES</a>
    <a href="#props">PROPS</a>
</div>
<div style="background:black;">
<p class="text-center heading-extra-large" id="lead">LEAD CHARACTERS</p>
<div style="background:black; padding:0% 10%;">
    <img class="full-width-img" src="static/images/characters/lead/dog_warrior_final.jpg" width="100%" loading="lazy">
    <img class="full-width-img" src="static/images/characters/lead/dog_warrior_2.jpg" width="100%" loading="lazy">
    <img class="full-width-img" src="static/images/characters/lead/dog_warrior.jpg" width="100%" loading="lazy">
    <img class="full-width-img" src="static/images/characters/lead/funny_joker_single.jpg" width="100%" loading="lazy">
    <img class="full-width-img" src="static/images/characters/lead/funny_joker_2.jpg" width="100%" loading="lazy">
    <img class="full-width-img" src="static/images/characters/lead/funny_joker_1.jpg" width="100%" loading="lazy">
    <img class="full-width-img" src="static/images/characters/lead/Joker.jpg" width="100%" loading="lazy">
    <img class="full-width-img" src="static/images/characters/lead/Joker_concept.jpg" width="100%" loading="lazy">
    <img class="full-width-img" src="static/images/characters/lead/hitwicket_style_character.jpg" width="100%" loading="lazy">
    <img class="full-width-img" src="static/images/characters/lead/Shaman_costumes.jpg" width="100%" loading="lazy">
    <img class="full-width-img" src="static/images/characters/lead/profile_3_by_4_grayscale.jpg" width="100%" loading="lazy">
    <img class="full-width-img" src="static/images/characters/lead/Materials.jpg" width="100%" loading="lazy">
    <img class="full-width-img" src="static/images/characters/lead/profile_3_by_4_grayscale.jpg" width="100%" loading="lazy">
</div>
<p class="text-center heading-extra-large" id="creatures">CREATURES</p>
<div style="background:black; padding:0% 10%;">
    <img class="full-width-img" src="static/images/characters/creatures/Siren_Scylla_hybrid_final.jpg" width="100%" loading="lazy">
    <img class="full-width-img" src="static/images/characters/creatures/siren.jpg" width="100%" loading="lazy">
    <img class="full-width-img" src="static/images/characters/creatures/scylla_head_exploration.jpg" width="100%" loading="lazy">
</div>
<p class="text-center heading-extra-large" id="props">PROPS</p>
<div style="background:black; padding:0% 10%;">
    <img class="full-width-img" src="static/images/characters/props/lantern_lamp_concept.jpg" width="100%" loading="lazy">
    <img class="full-width-img" src="static/images/characters/props/throw_lantern.jpg" width="100%" loading="lazy">
    <img class="full-width-img" src="static/images/characters/props/regular_lamp.jpg" width="100%" loading="lazy">
    <img class="full-width-img" src="static/images/characters/props/magic_staff_concept.jpg" width="100%" loading="lazy">
    <img class="full-width-img" src="static/images/characters/props/magic_staff.jpg" width="100%" loading="lazy">
</div>

<div style="display: flex; justify-content: center; background:black; margin-top:1%;">
    <a href="https://shwetabhsuman.com" class="btn-1 text-center heading-medium" target="_blank" style="width:30%; text-decoration:none;">COMPLETE PORTFOLIO</a>
</div>
</div>

{% endblock %}